a {
    text-decoration: none;
    color: #015ba7;
}

.data-search {
    position: absolute;
    overflow: visible;
    z-index: 10;
}

.log-errors {
    margin-right: auto;
    color: #ba0517;
}

.footer-container {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: var(--slds-c-card-color-background);
    border-top: var(--border-width-base) solid var(--slds-c-card-color-border);
    padding: 0.25rem;
    margin-top: auto;
    z-index: 1;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerWidget {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.widgets-inner {
    flex: 1;
    overflow: auto;
    height: calc(100vh - 156px - 3.5rem);
}

.filter-help {
    align-items: center;
}

.log-errors-no-err-text {
    color: #396547;
}

.log-errors-text {
    color: #ba0517;
}

.search-res {
    background-color: rgb(250, 255, 189);
}

.search-res-focus {
    background-color: yellow;
}

.dashboard-widget {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--slds-c-card-color-background);
}

.filter-being-edited {
    background-color: rgb(250, 255, 189);
    border: 1px solid #a86403;
}

.filter-header-btn-container {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(229, 229, 229);
    background: var(--slds-g-color-neutral-base-95, #f3f3f3);
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.16);
    z-index: 8000;
}

.popover-section {
    position: absolute;
    right: 20rem;
}

.filterPanel {
    padding: 1rem;
}

.float-right {
    float: right;
}

.filter-body {
    width: 100%;
    line-break: anywhere;
    line-height: 1.5;
}

.slds-button {
    height: 2rem;
}

.icon-active-filters {
    background-color: #0176d3;
    border-color: #0176d3;
    color: var(--text-color-base);
}

.utility-bar-span-text {
    align-self: center;
    font-size: 0.9rem;
}

.utility-bar-input {
    width: 5rem;
}

.utility-bar {
    position: relative;
    background-color: var(--slds-c-card-color-background);
}

.line-number-text {
    color: var(--slds-g-color-neutral-base-50);
    font-weight: 400;
}

.line-text {
    line-height: normal;
    color: var(--text-color-base);
    fill: var(--text-color-base);
    font-weight: 400;
}

.line-header {
    font-weight: 700;
    height: 23px;
}

.widget-container {
    width: 100%;
    overflow: auto;
}

.widgets {
    display: flex;
    flex-direction: row-reverse;
    max-height: calc(100vh - 156px);
    overflow: auto;
}

th {
    background-color: var(--slds-g-color-neutral-base-100);
}

td {
    border-bottom: var(--border-width-base) solid
        var(--slds-c-card-color-border);
}

th,
td {
    border-right: var(--border-width-base) solid var(--slds-c-card-color-border);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 23px;
    font-size: 12px;
}

table {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: separate;
}

.dashboard-container {
    border: var(--border-width-base) solid var(--slds-c-card-color-border);
    border-radius: var(--border-radius-base);
}

.slds-page-header {
    padding: 1rem 1rem;
    background: var(--slds-c-card-color-background);
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border-top: none;
    border-left: none;
    border-right: none;
}

.edge-builder-ii .dashboard-container {
    position: relative;
    height: 100%;
    z-index: 0;
}

:host {
    --dxp-s-form-element-text-font-size: 0.75rem;
    --dxp-s-button-font-size: 0.8125rem;
    --dxp-s-form-element-label-font-size: 0.75rem;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

.reportBuilder .edge-builder-ii .report-header .action-bars,
.reportBuilder .edge-builder-ii .headerPanel .action-bars {
    max-width: 100%;
}

.action-bars {
    display: flex;
    margin-left: auto;
}

.reportBuilder.reportBuilder-view .edge-builder-ii .report-header {
    z-index: 5;
    position: relative;
    height: 4.125rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
}

.metrics-widget {
    position: relative;
    overflow: visible;
    height: 100%;
    border-bottom: var(--border-width-base) solid
        var(--slds-c-card-color-border);
    padding-bottom: 0.75rem;
}

.metrics-widget li {
    display: inline-block;
    padding-left: 1.5rem;
}

.metrics-widget li .metricsTitle {
    font-size: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    color: var(--slds-g-color-neutral-base-50);
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.metrics-widget li .metricsValue {
    font-size: 1rem;
    color: #0159e7;
}

.reportView
    .reportBuilderContainer
    .reportBuilder.reportBuilder-view
    .widget-container.widget-container_table
    .report-table-widget {
    overflow: visible;
    height: auto;
}

.wave-table.lightning .data-grid {
    background: transparent;
    left: -1px;
    top: -1px;
    position: relative;
    overflow: visible;
}

.filter-panel {
    overflow: visible;
    box-shadow: none;
}

.slds-button:hover {
    color: #76716b;
    border-color: #76716b;
}

.widgets-inner {
    overflow: auto;
    /* 
    156px -> height of header - 40px
          -> height of footer(Navigation items for pagination) - 40px
          -> padding of AppContent - 12px
          -> report title and other details - 64px
    100vh -> height of viewport
   */
    height: calc(100vh - 156px);
}

.filter-panel {
    overflow: visible;
    box-shadow: none;
}

.slds-form-element__label {
    color: #444444;
    font-size: 0.75rem;
}
