:host {
    --brandBackgroundPrimary: var(--slds-c-card-color-background);
    --zIndexDefault: 1;
    --fullWidth: 100%;
}
.appContent {
    background-color: var(--brandBackgroundPrimary);
    z-index: var(--zIndexDefault);
    /* top: 40px; */
    width: var(--fullWidth);
}

.slds-template_default {
    padding: 1rem;
}

.oneCenterStage {
    overflow: visible;
    background-color: transparent;
    max-width: 100%;
    left: 0;
    right: 0px;
}

.slds-template_default.slds-brand-band:before {
    top: 0rem;
}

.slds-brand-band:before {
    background-repeat: repeat;
}
