.nav-item {
    color: var(--text-color-base);
}
img {
    width: 37px;
}
a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
}

.slds-no-print {
    top: 50px;
    /* position: fixed; */
    width: 100%;
    z-index: 1000;
}
